*{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

body{
  margin: 0;
  background-color: white;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(127, 17, 200);
  height: 50px;
  align-items: center;
  box-shadow: 0px 0px 10px black;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  cursor: pointer;
}
.logo>.titleLogo:hover{
  color: rgb(33, 3, 33);
}
.titleLogo{
margin: 0 0 0 15px;
font-size: 18px
}
.blockNav{
  display: flex;
  gap: 15px;
  margin-right: 15px
}
.ttitem{
  font-weight: 700;
}
.ttitem:hover{
  font-weight: 700;
  color: white;
  cursor: pointer;
}
#tueIcon{
  height: 36px;
}