
.logo>.titleLogo:hover{
  color: #210321;
}
.titleLogo{
  margin: 0 0 0 15px;
  font-size: 18px
  
}
ul li{
  font-weight: 700;
}
ul li:hover{
  font-weight: 700;
  color: white;
  cursor: pointer;
}
#titleBlog{
  font-size: 2.25rem;
  display: flexbox;
}
#subTitleBio{
  font-weight: 700;
  font-size: clamp(0.9rem, 0.195rem + 2.821vw, 2rem)
}
#textBlock{
  display: inline-block;
}
#paragraphTextBlog{
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: clamp(0.5rem, 0.179rem + 1.282vw, 1rem);
}
