:root{
  --color-primary : #781ab6;
  --color-secondary : #c3a8ef;
  --color-button : #826fa1;
  --color-border-img: rgb(63, 23, 63);
}

*{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  margin: 0;
  list-style: none;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 3.125rem;
  align-items: center;
  box-shadow: 0rem 0rem 0.625rem black;
  position: sticky;
  top: 0;
  z-index: 2;
  
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}


ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.9375rem;
  margin-right: 0.9375rem;
  align-items: center;

}
#tueIcon{
  height: 36px;
}
#title{
  display: flex;
  justify-content: center;
  margin-top: 1rem
}
#titleBlog{
  height: 6rem;
  cursor: pointer;
  filter: grayscale(100%);
  margin-top: 0.9375rem;
  
}

#titleBlog:hover{
  filter: none;
}
#imgPerfilRaian{
  height: 160px;
  border-radius: 50%;
  margin: 0 3em;
  border: solid 0.3125rem var(--color-border-img);
}
#imgPerfilRaian:hover{
  border-color: var(--color-button);
} 
.block{
  display: flex;
  flex-direction: row;
  width: 87%;
  gap: 1rem;
  cursor:help;
  margin: 3.5rem 1.125rem;
  padding: 0.9375rem;
  border-radius: 0.9375rem;
  border: solid 0.125rem var(--color-button);
}
.block:hover{
  background-color: var(--color-secondary);
  border: solid 0.125rem var(--color-button);
}
#buttonInsta{
  background-color:var(--color-secondary) ;
  border: solid 0.125rem var(--color-button);
  border-radius: 0.5rem;
  padding: 10px 20%;
  margin: 0 19%;
  font-size: 1rem;
  cursor:pointer;
  font-size: clamp(0.2rem, -0.313rem + 2.051vw, 1rem);
}
#buttonInsta:hover{
  background-color:var(--color-primary) ;
  color: aliceblue;
  font-size: clamp(0.5rem, 0.179rem + 1.282vw, 1rem);
}
.button__nav{
  display: none;
}
